Readonly=true
Device="COM1"
Loghex=true
ReadInterval=1
Aquarea2mqttCompatible=true
Aquarea2mqttPumpID=""
Mqtt_topic_base="panasonic_heat_pump/sdc"
Mqtt_set_base="panasonic_heat_pump"
ForceRefreshTime=60
MqttServer=""
MqttPort=""
MqttLogin=""
MqttPass=""
SleepAfterCommand=3
MqttClientID=""
MqttKeepalive=60
